@{
    ViewData["Title"] = "Add Page";
}

<div class="text-left">
    @using (Html.BeginForm())
    {
        <input type="text" name="Name">
        <input type="submit" value="Submit">
    }
</div>
