@model Diary.CQRS.InventoryItemDetailsDto
@{
    ViewData["Title"] = "Check In Page";
}

<div class="text-left">
    @using (Html.BeginForm())
    {
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("Version", Model.Version)
        <input type="text" name="Number">
        <input type="submit" value="Submit">
    }
</div>
