@model IEnumerable<Diary.CQRS.InventoryItemListDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach (var inventoryItemListDto in Model)
        {
            <li>
                @Html.ActionLink("Name: " + inventoryItemListDto.Name, "Details", new { Id = inventoryItemListDto.Id })
            </li>
        }
    </ul>
    @Html.ActionLink("Add", "Add")
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
