@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center1">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
       <li> <a asp-action="FilterTest">FilterTest</a></li>
       <li> <a asp-action="ServiceFilterTest">ServiceFilterTest</a></li>
       <li> <a asp-action="TypeFilterTest">TypeFilterTest</a></li>
       <li> <a asp-action="FilterTest2" asp-controller="Test">FilterTest 2</a></li>
    </ul>
</div>
